:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Sen", sans-serif;
}
html {
    font-size: 6.25%;
}
body {
    font-size: 16rem;
    font-family: var(--font-primary);
}
/* Thành phần dùng chung */
.content {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24.5px;
    min-width: 118px;
    min-height: 50px;
}
/*============== header============== */
.fix-header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fffcf4;
    padding: 12px 0;
}
.header {
    background-color: #fffcf4;
    padding-top: 36px;
    padding-bottom: 55px;
}
.header-nav {
    align-items: center;
}
/* .header-nav-logo {
} */
.header-nav-menu {
    margin-left: auto;
    gap: 42px;
}
/* .header-nav-item {
} */
.header-nav-link {
    font-weight: 400;
    font-size: 16rem;
    line-height: 1.75;
    color: #5f5b53;
    position: relative;
}
.header-nav-link.active {
    font-weight: 600;
    color: #171100;
}
.header-nav-link.active:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: 0;
    left: 0;
}
.header-nav-btn {
    font-weight: 600;
    font-size: 16rem;
    line-height: 1.75;
    color: #ffffff;
    background: #171100;
    margin-left: 70px;
    width: 144px;
}
/* header hero */
.header-hero {
    padding-top: 52px;
}
.header-hero-img {
    width: 48.7%;
    position: relative;
}
.header-hero-img img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
}
.header-hero-info {
    flex: 1;
    padding-left: 130px;
    padding-top: 64px;
}
.header-hero-info-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 58rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 22px;
}
.header-hero-info-desc {
    font-size: 18rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-bottom: 35px;
}
.header-hero-info-button {
    align-items: center;
    margin-bottom: 48px;
}
.header-hero-info-btn {
    background: #ffb900;
    border-radius: 32px;
    height: 64px;
    min-width: 180px;
    font-weight: 600;
    font-size: 18rem;
    line-height: 1.67;
    color: #ffffff;
    margin-right: 28px;
}
.header-hero-info-btn-watch {
    display: flex;
    align-items: center;
}
.header-hero-info-btn-watch img {
    position: relative;
    top: 8px;
}

.header-hero-info-btn-watch-title {
    font-weight: 600;
    font-size: 18rem;
    line-height: 1.67;
    color: #171100;
    /* margin-left: 14px; */
}
.header-hero-info-sub-title {
    font-size: 18rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-bottom: 8px;
}
.header-hero-info-number {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.header-hero-info > .row {
    gap: 28px;
}
.header-hero-info-number-title {
    font-family: var(--font-secondary);
    font-size: 44rem;
}
/* .header-hero-info-number-desc {
} */
.header-hero-intro img {
    width: 48px;
    height: 48px;
}
.header-hero-intro > .row {
    gap: 16px;
    align-items: center;
}
.header-hero-intro {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 47.3%;
    gap: 14px;
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: 0;
}
.header-hero-intro-block p {
    font-size: 14rem;
    line-height: 1.86;
    color: #5f5b53;
}
.header-hero-intro-block strong {
    font-weight: 600;
    font-size: 18rem;
    line-height: 1.67;
    color: #171100;
}
/* courses */
.courses {
    margin: 210px 0 200px;
}
/* .content {
} */
.courses-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 38rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}
.courses-desc {
    width: 39.145%;
    font-size: 18rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-bottom: 55px;
}
.pd22 {
    padding: 16px 22px 22px;
}
.courses-list {
    gap: 30px;
}
.courses-block {
    flex: 1;
}
.courses-block a img {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
/* .courses-button {
} */
.courses-block .pd22 .row {
    align-items: center;
}
.courses-block .pd22 .row h3 {
    font-weight: 600;
    font-size: 18rem;
    line-height: 30px;
    color: #171100;
}
.courses-block .pd22 img {
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: 6px;
}
.courses-block .pd22 p {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 14rem;
    line-height: 1.86;
}
.courses-btn {
    background: #171100;
    color: white;
    font-weight: 600;
    font-size: 14rem;
    transition: all linear;
    -webkit-transition: all linear;
    -moz-transition: all linear;
    -ms-transition: all linear;
    -o-transition: all linear;
}
.courses-btn:hover {
    background-color: #ffb900;
}
.courses-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-button strong {
    font-weight: 600;
    font-size: 18rem;
}
/* feedback */
.feedback {
    background-color: #2e2100;
    padding: 96px 0;
}
.feedback .row {
    gap: 241px;
}
.feedback-user {
    width: 12.82%;
    /* width: 159px; */
}
.feedback-user img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.feedback-user p {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24rem;
    line-height: 1.42;
    color: #f7f7f7;
    margin-top: 18px;
}
.feedback-user > span {
    font-size: 13rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-bottom: 28px;
}
.feedback-info {
    padding-top: 28px;
    padding-left: 30px;
    flex: 1;
}
.feedback-info blockquote {
    font-style: italic;
    font-size: 26rem;
    line-height: 1.54;
    color: #ffffff;
}
.feedback-info-img {
    width: 30px;
    height: 28px;
    margin-left: -30px;
}
.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700 !important;
    font-size: 60rem;
    cursor: pointer;
}
.dot.active {
    background: #ffb900 !important;
}
/* ================= platform ================== */
.platform {
    padding: 197px 0 200px;
}
.platform-content-top {
}
.platform-content-top-img {
    gap: 30px;
    width: 48.7%;
}
.platform-content-bottom.row {
    align-items: center;
}
.platform-content-bottom-info {
    flex: 1;
    margin-right: 130px;
}
.platform-content-top-img img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}
.platform-content-top-img img:first-child {
    margin-top: 34px;
}
.platform-content-info {
    flex: 1;
    padding-left: 130px;
    padding-top: 58px;
}
.platform-content-info-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 38rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}
.platform-content-info-desc {
    font-size: 16rem;
    line-height: 1.75;
    color: #5f5b53;
    margin-bottom: 16px;
}
.platform-content-info-sub-title {
    display: inline-block;
    font-size: 16rem;
    line-height: 28rem;
    color: #5f5b53;
    margin-bottom: 32px;
}
.platform-content-info-btn {
    background-color: #ffb900;
    color: white;
    width: 23.4%;
}
.platform > .content > .row {
    flex-direction: column;
    gap: 200px;
}
.platform-content-bottom-img > img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* blog */
.blog {
    background-color: #fffcf4;
    padding: 96px 0;
    text-align: center;
}
.blog-title {
    font-family: var(--font-secondary);
    font-size: 38rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
    margin-bottom: 16px;
}
.blog-desc {
    font-size: 16rem;
    line-height: 1.75;
    color: #696262;
    margin: 0 auto;
    margin-bottom: 55px;
    width: 38.3%;
}
.blog-list {
    display: flex;
    gap: 30px;
}
.blog-item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}
.blog-item img {
    /* width: 370px;
    height: 250px; */
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.pd20 {
    padding: 20px;
}
.blog-row {
    display: flex;
    align-items: center;
    gap: 4px;
}
.blog-dot {
    width: 6px;
    height: 6px;
    background: #ffb900;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.blog-line {
    width: 50%;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
    margin: 12px 0;
}
.blog-list-title {
    font-weight: 600;
    line-height: 1.75;
    color: #171100;
    text-align: left;
    margin-bottom: 12px;
    font-size: 16rem;
}
.blog-btn {
    background: #5f5b53;
    width: 118px;
    color: white;
    margin-bottom: 8px;
}
.blog-btn:hover {
    background-color: #ffb900;
}
.blog-dots {
    margin-top: 38px;
}
.blog-dots .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #5f5b53 !important;
}
.blog-dots .dot.active {
    background: #ffb900 !important;
}
.blog-list-desc {
    font-size: 14rem;
    line-height: 1.86;
    color: #5f5b53;
}
/* footer */
.footer {
    background: #2e2100;
    padding-top: 96px;
    color: white;
    padding-bottom: 28px;
}
.footer-list-lesson {
    width: 22.82%;
    margin-right: 145px;
}
.footer-list-lesson > h3 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24rem;
    margin-bottom: 18px;
}
.footer-list {
    display: flex;
    margin-bottom: 26px;
}
.footer-list p {
    font-size: 14rem;
    line-height: 1.86;
    color: #bfbcb2;
    margin-bottom: 18px;
}
.footer-list-lesson-social {
    display: flex;
    align-items: center;
    gap: 18px;
}
.footer-line {
    width: 100%;
    height: 1px;
    background: #59554b !important;
}
.footer-list-company,
.footer-list-support,
.footer-list-address {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footer-list-address {
}
.footer-title {
    position: relative;
    font-weight: 600;
    font-size: 16rem;
    line-height: 28px;
    margin-bottom: 43px;
}
.footer-title::after {
    position: absolute;
    content: "";
    bottom: -14px;
    height: 1px;
    background: #59554b;
    width: 130px;
    left: 0;
}
.footer-link {
    color: #bfbcb2;
    font-size: 14rem;
    line-height: 1.86;
    margin-bottom: 12px;
}
.footer-list-address p strong {
    color: white;
    font-weight: 600 !important;
}
.footer-copyright {
    margin-top: 28px;
    font-weight: 400;
    font-size: 14rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
